<div class="app-footer">
    <div class="footer-item">
        <a href="/demo/business-main/">
            <img src="/assets/img/icons/home.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/business-history/">
            <img src="/assets/img/icons/history.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/business-contacts/">
            <img src="/assets/img/icons/contacts.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/business-chatlist/">
            <img src="/assets/img/icons/chat.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/profile-business/">
            <img src="/assets/img/icons/business.svg" alt="">
        </a>
    </div>
</div>