<div class="app-footer">
    <div class="footer-item">
        <a href="/demo/">
            <img src="/assets/img/icons/home.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/history/">
            <img src="/assets/img/icons/history.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/contacts/">
            <img src="/assets/img/icons/contacts.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/chat/">
            <img src="/assets/img/icons/chat.svg" alt="">
        </a>
    </div>
    <div class="footer-item">
        <a href="/demo/profile/">
            <img src="/assets/img/icons/profile.svg" alt="">
        </a>
    </div>
</div>