html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: rgb(240, 240, 240);
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.app-window {
    background: #fff;
    width: 350px;
    height: 650px;
    border: #ccc 1px solid;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.app-screen {
    width: 360px;
    height: 650px;
    overflow-y: scroll;
}

.app-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: rgb(255, 255, 255, 0.9);
    z-index: 999;
}

.page {
    margin: 70px 0 60px;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 2.1em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}

.page-title {
    text-align: center;
}

.content-left {
    padding: 0 20px;
    text-align: left;
}

.logo {
    padding: 15px;
}

.my-qr {
    padding: 10px 15px;
    text-align: center;
}

.home-balance {
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
}

.coupons {
    width: 99%;
    height: 12px;
    background: url(/assets/img/icons/coupons.svg) center no-repeat;
    background-size: 300px;
    padding: 25px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
}

.coupons a {
    display: block;
}

.coupon-terms {
    text-align: left;
    width: 80%;
    padding: 0 30px;
    font-size: 15px;
}

.coupon-name {
    margin: 10px;
    padding: 5px 0;
    width: 90%;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.tokens-q {
    position: absolute;
    right: 0;
    top: 11px;
    background: #999;
    color: white;
    border-radius: 20px;
    padding: 2px 7px;
}

.token-card-token-logo {
    height: 140px;
    text-align: center;
    position: relative;
}

.token-card-tokens-q {
    position: absolute;
    top: 5px;
    right: 100px;
    background: #4988EA;
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 35px;
}

.available {
    font-size: 16px;
    margin-bottom: 15px;
}

.home-buttons {
    text-align: center;
}

.send-button {
    background: #7833FF;
    color: #fff;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 130px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(68,37,165,.1);
    transition: .3s;
}

.send-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
}

.home-history {
    width: 100%;
    margin: 40px 0 80px;
}

.home-history-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.history-name {
    padding: 15px 5px 5px 20px;
}

.history-figure {
    padding: 15px 30px 5px 5px;
}

/* PROFILE */

.profile-header {
    height: 69px;
}

.profile {
    width: 100%;
    margin: 60px 0 80px;
}

.profile-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.my-name {
    padding: 15px 5px 5px 20px;
    font-size: 25px;
}

.profile-name {
    padding: 15px 5px 5px 20px;
}

.profile-figure {
    padding: 40px 30px 0 5px;
}

.social-text {
    position: relative;
    top: -12px;
    left: 4px;
}

.nickname {
    margin: 0;
}

.account-name {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.action-buttons {
    text-align: center;
}

.action-button {
    background: #7833FF;
    color: #fff;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 50px;
    margin: 6px;
    padding: 17px 7px 0;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(68,37,165,.1);
    transition: .3s;
}

.account-status {
    padding-top: 10px;
}

/* HISTORY */

.history-item {
    padding-bottom: 14px;
}

.history-item:hover {
    background: #f5f5f5;
}

.history-name a {
    display: block;
}

.history-data {
    font-size: 0.7em;
    color: #999;
}

.history-figure-history {
    padding: 36px 30px 5px 5px;
}

.transaction-data {
    width: 100%;
    margin: 40px 0 80px;
    text-align: center;
}

.transaction-sum {
    font-size: 40px;
    line-height: 20px;
}

.transaction-description {
    font-size: 18px;
}

.transaction-status {
    padding-top: 30px;
}

.green {
    color: green;
}

/* CONTACTS */

.contacts {
    width: 100%;
    margin: 40px 0 80px;
}

.list-item {
    font-size: 18px;
    margin: 10px 0;
}

.list-name {
    margin: 10px;
    padding: 5px 0;
    width: 90%;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.category {
    margin: 10px;
    padding: 5px 0;
    width: 90%;
    font-weight: 800;
}

.add-contact {
    margin: 10px;
    padding: 5px 0;
    width: 90%;
}

.add-contact a {
    font-weight: 800;
}

.add-contact-form {
    width: 90% !important;
    padding: 0 10px !important;
}

/* CHAT */

.chat {
    margin-top: 25px
}

.chat-title {
    text-align: center;
    padding: 3px 0;
    background: rgb(255, 255, 255, 0.8);
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 99999;
}

.chat-title h1 {
    font-size: 16px;
    margin: 0;
}

.chat-window {
    width: 100%;
    min-height: 100%;
    padding-top: 75px;
}

.chat-date {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}

.chat-bubble {
    font-size: 18px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    max-width: 70%;
    margin-top: 10px;
}

.bubble-him {
    background: #eee;
    text-align: left;
    left: 10px;
}

.bubble-him:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #eee;
    border-right: 10px solid transparent;
    border-top: 10px solid #eee;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -10px;
}

.bubble-me {
    background: #4988EA;
    color: #fff;
    text-align: right;
    left: 45px;
}

.bubble-me-first {
    background: #4988EA;
    color: #fff;
    text-align: right;
    left: 45px;
}

.bubble-me:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #4988EA;
    border-top: 10px solid #4988EA;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -10px;
}

.system-chat {
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    width: 250px;
}

.chat-box {
    margin: 10px;
    padding: 5px 0;
    width: 90%;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.chat-name {
    position: absolute;
    top: 7px;
    left: 45px;
}

.last-message {
    position: absolute;
    bottom: 5px;
    left: 45px;
    white-space: nowrap;
    font-size: 13px;
    color: #999;
}

/* EARN */

.location {
    width: 100%;
    height: 100%;
    background: url(/assets/img/map.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.location-categories {
    position: absolute;
    bottom: 60px;
    left: 70px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 5px 10px;
    font-size: 18px;
}

.earn-item {
    width: 90%;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 800;
    position: relative;
    padding: 5px 10px;
}

.earn-long {
    position: absolute;
    bottom: 15px;
    left: 58px;
    line-height: 16px;
}

.form {
    width: 90% !important;
    padding: 0 10px;
}

.form input {
    margin-top: 18px;
}

.shop-item {
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(68,37,165,.1);
    margin-bottom: 20px;
    padding: 30px 10px;
}

.done {
    opacity: 0.5;
    background: url(/assets/img/icons/done.svg) no-repeat right center;
}

/* SETTINGS */

.antispam-item {
    width: 90%;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 800;
    position: relative;
    padding: 5px 10px;
}

.antispam-name {
    width: 65%;
}

.right-mode {
    position: absolute;
    right: 0;
    top: 7px;
}

/* OPEN QR */

.open-qr {
    width: 100%;
    height: 650px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    background: #7833FF;
    color: #fff;
}

.open-qr-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-family: Arial;
}

.open-qr-close a {
    color: #fff;
}

.open-qr-logo {
    padding: 20px;;
}

.open-qr-id {
    font-size: 18px;
}

.card-number {
    font-size: 24px;
}

.open-qr-qr {
    margin-bottom: 60px;
}

/* SEND */

.send-form {
    width: 80%;
    margin: 50px auto 40px;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-between;
}

.send-form p {
    font-size: 16px;
    margin: 15px 0 5px;
    line-height: 14px;
}

select {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-send-form {
    width: 100%;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

input[type=text]:focus {
    outline: 0;
}

.recipient-buttons {
    width: 100%;
    margin: 5px 0 10px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.recipient-button {
    background: #fff;
    color: #000;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 15px;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.recipient-button:hover {
    background: rgb(235, 235, 235);
    box-shadow: 0 3px 3px rgba(0, 0, 0,.5);
}

.note {
    color: #666;
    font-size: 14px;
}

.center {
    width: 100%;
    text-align: center;
}

/* BUSINESS */

.start-item {
    width: 90%;
    margin: 10px 0;
    position: relative;
    padding: 5px 10px;
}

.start-item a {
    font-weight: 800;
    font-size: 18px;
}

.green {
    background: #3fe925 !important;
}

.business-id {
    padding: 15px;
    text-align: center;
    position: relative;
}

.business-id-name {
    position: relative;
    top: -8px;
}

.one-stroke-bordered-input {
    font-size: 20px;
}

.send-button-white {
    background: #fff;
    color: #000;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 130px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(68,37,165,.1);
    transition: .3s;
}

.send-button-white:hover {
    background: rgb(240, 240, 240);
    box-shadow: 0 15px 20px rgb(255, 255, 255, 0.2);
}

/* FOOTER */

.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background: #fff;
    border: #ccc 1px solid;
    z-index: 999;
}

.footer-item {
    padding: 10px 5px 5px;
}

.footer-item img {
    height: 30px;
}


/* MAIN PAGE */

.main-sign-block {
    background: #fff;
    width: 350px;
    border: #ccc 1px solid;
    margin: 0 auto;
    padding: 50px 8px 15px;
    text-align: center;
}

.main-form {
    margin: 30px 0 0;
}

.main-form input{
    width: 80%;
    height: 24px;
    font-size: 14px;
    margin: 5px 0;
}

.main-form button {
    width: 82%;
    height: 35px;
    font-size: 14px;
    background: #7833FF;
}

.main-form a {
    color: #fff;
}

.main-download {
    background: #fff;
    width: 350px;
    border: #ccc 1px solid;
    margin: 15px auto;
    padding: 5px 8px 10px;
    text-align: center;
}

